*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color:  #212121;
overflow: hidden;
}

.afterIcon{
    display: none;
}


.pos-rel{
    position: relative;
}
.pos-abs{
    background-color: rgb(48, 49, 49, 1);
    position: absolute;
    left: 20px; 
    top: 60px;
    width: 92%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.bolumA{
    font-size: 30px;
    padding-left: 12px;
    padding-bottom: 30px;
}

#bolum:hover{
    cursor: pointer;
}

.leftNav-bg{
    background-color: #322f2f;
    height: 100vh;
    width: 20%;
    display: flex;
    
}
.leftNav{
    box-sizing: border-box;
    padding-left: 40px;
    display: grid;
}
.AleftNav{
    text-decoration: none;
    color: white;
    padding-top: 16px;
    font-size: 40px;
}
.AleftNav:hover{
    color: white;
    background-color:#6b6969;
    border-radius: 10px;
    padding-left: 10px;
}
main{
    display: flex;
    z-index: 1;
}
.row{
    display: flex;
    height: 40%;
    margin-top: 20px;
}
.box{
    position: relative;
    margin: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box:hover .get-code{
    display: flex;
}
.get-code{
    display: none;
    color: rgb(64, 63, 63);
    position: absolute;
    left: 77%;
    top: 88%;
    padding: 5px 6px;
    border-radius: 10px;
    font-size: 18px;
    border-color: #ffffff;
}
.center{
    width: 100%;
    height: 100vh;
    overflow-y: auto;   
}

.code-center{
    display: none;
    width: 100%;
    height: 100vh;
}
.displayNone{
    display: none;
}
.displayFlex{
    display: flex;
}

#box1{
    background-color: #ffffff;
    width: 50%;
    margin: 100px 30px 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
#box_code{
    box-sizing: border-box;
    width: 50%;
    margin: 100px 30px 100px 30px;
    border-radius: 50px;
    overflow-x: auto;
}

.buttonOfCode{
    font-size: 32px;
    width: 100px;
    border-radius: 5px;
    background-color:#212121;
    color: white;
}
@media screen and (max-width: 870px){
    .ull{
        display: none;
    }
    .bi-justify{
        display: flex;
        font-size: 30px;
    }
    .imgage{
        height: 30px
    }
    .row{
        display: block;
        box-sizing: border-box;
        padding-right: 20px;
        margin-right: 20px;
        margin-bottom: 850px

    }
}

@media screen and (min-width: 870px){
    .wrap{
        display: none;
};

}

@media screen and (max-width: 1515px){
    .AleftNav{
        font-size: 30px;
    }

}

@media screen and (max-width: 1200px){
    
    .leftNav-bg{
        display: none;
    }

}