.bg-image {
    background-image: url("img/1.jpg");
    background-color: #1670ba;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(29, 81, 204, 0.5);
}